.account-header {
  background: #f6f6f6;
}

.account-text {
  padding-top: 20px;
  line-height: 20.9px;
  font-size: 14px;
}

.month-section {
  border-top: 1px solid black;
  margin-top: 60px;
  padding-top: 20px;
}

.account_links {
  color: white;
}

