/******* Header *******/
.header {
  font-size: 20px;
}

.header-subtext {
  font-size: 15px;
}

.new_stock_class {
  color: white;
}
/******* Stock Table *******/
.homepage-table {
  margin-top: 30px;
}

.table th {
  font-size: .9em;
}

.table td {
  font-size: .9em;
}

